@highlight: #55C5CB;
input[type=text],
input[type=password],
input[type=phone],
input[type=number],
input[type=email],
textarea {
  border: 1px solid #DDD;
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 0;
  border-bottom: 1px solid #CCC;
  background: #F9F9F9;
  width: 100%;
  box-sizing: border-box;
  &:focus, &:hover {
    background: white;
    border-bottom: 1px solid @highlight;
  }
}
input[type=text].editable-label {
  border: 0;
  text-transform: uppercase;
  font-size: .9em;
  padding: 10px;
  display: block;
  background: transparent;
  border-bottom: 0;
  &:focus, &:hover {
    background: transparent;
    border-bottom: 0;
  }
}
textarea {
  height: 150px;
}
label {
  display: block;
  padding: 10px;
  font-size: .9em;
  text-transform: uppercase;
  &.inline {
    display: inline;
    padding: 0 15px 0 5px;
    text-transform: none;
  }
}
div.field {
  margin-bottom: 15px;
}
