@import 'normalize.css';
input[type=text],
input[type=password],
input[type=phone],
input[type=number],
input[type=email],
textarea {
  border: 1px solid #DDD;
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 0;
  border-bottom: 1px solid #CCC;
  background: #F9F9F9;
  width: 100%;
  box-sizing: border-box;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=phone]:focus,
input[type=number]:focus,
input[type=email]:focus,
textarea:focus,
input[type=text]:hover,
input[type=password]:hover,
input[type=phone]:hover,
input[type=number]:hover,
input[type=email]:hover,
textarea:hover {
  background: white;
  border-bottom: 1px solid #55c5cb;
}
textarea {
  height: 150px;
}
label {
  display: block;
  padding: 10px;
  font-size: .9em;
  text-transform: uppercase;
}
label.inline {
  display: inline;
  padding: 0 15px 0 5px;
  text-transform: none;
}
div.field {
  margin-bottom: 15px;
}
body {
  font-size: .9em;
  overflow: hidden;
  background: #EFEFEF;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
#context {
  box-sizing: border-box;
  width: 50%;
  float: left;
  background: white;
  overflow: hidden;
  height: 1000px;
  position: relative;
}
#context h2 {
  padding: 10px 15px;
  font-weight: 200;
  margin: 0;
  color: white;
  background: #423D41;
  border-bottom: 1px solid #423d41;
}
#context h2.icon-arrow:before {
  margin-right: 10px;
  cursor: pointer;
}
#context h2:hover {
  cursor: pointer;
}
#context h2:hover.icon-arrow:before {
  color: #55c5cb;
}
#context #new-item {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  display: block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  font-size: 2em;
  line-height: 30px;
}
#context #new-item:hover {
  color: #55c5cb;
}
#context #configure-item {
  position: absolute;
  top: 10px;
  right: 50px;
  color: white;
  display: block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 30px;
}
#context #configure-item:hover {
  color: #55c5cb;
}
#context #switcher {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
}
#context #switcher ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#context #switcher ul li {
  border-top: 1px solid #DDD;
  margin: 0;
  padding: 10px 15px;
}
#context #switcher ul li:hover {
  cursor: pointer;
  background: #55c5cb;
  color: #EFEFEF;
}
#context #list {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
}
#context #list table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
#context #list table th {
  padding: 5px 15px;
  text-align: left;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  background: #EEE;
  text-transform: uppercase;
  color: #555;
  font-size: .9em;
  font-weight: normal;
}
#context #list table th.check {
  width: 13px;
}
#context #list table th:last-child {
  border-right: none;
  width: 24px;
}
#context #list table tr td {
  padding: 10px 15px;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
#context #list table tr td.remove {
  border-right: none;
}
#context #list table tr td.remove a {
  text-decoration: none;
  color: #222;
  font-size: 1.8em;
}
#context #list table tr td.remove a:hover {
  color: #55c5cb;
}
#context #list table tr:hover td {
  background: #F9F9F9;
  cursor: pointer;
}
#context #list table tr:nth-child(even) {
  background: #F8F8F8;
}
#context div[data-visible="list"] #list {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#context div[data-visible="list"] #switcher {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
#detail {
  box-sizing: border-box;
  height: 1000px;
  overflow: auto;
  width: 50%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  float: left;
}
#detail h2 {
  padding: 10px 15px;
  font-weight: 200;
  margin: 0;
  color: #555;
  background: #DEDEDE;
  border-bottom: 1px solid #CCC;
  box-sizing: border-box;
}
#detail form {
  padding: 15px 30px;
}
#configure {
  display: none;
  box-sizing: border-box;
  height: 1000px;
  overflow: auto;
  width: 50%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  float: left;
}
#configure h2 {
  padding: 10px 15px;
  font-weight: 200;
  margin: 0;
  color: #555;
  background: #DEDEDE;
  border-bottom: 1px solid #CCC;
  box-sizing: border-box;
}
#configure h3 {
  font-weight: normal;
  color: #888;
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #CCC;
  background: #F9F9F9;
}
#configure h4 {
  padding: 10px 15px;
  margin: 0;
}
#configure p.note {
  padding: 0 15px 10px 15px;
  margin: 0;
  color: #888;
  font-style: italic;
  font-size: .8em;
}
#configure #close-config {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 1.8em;
}
#configure #close-config:hover {
  color: #55c5cb;
}
#configure div.selection {
  border-bottom: 1px solid #CCC;
}
#configure div.selection ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#configure div.selection ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  font-size: .9em;
  border-right: 1px solid #CCC;
  cursor: pointer;
  text-align: center;
}
#configure div.selection ul li:hover {
  color: #55c5cb;
}
#configure div[data-config] {
  display: none;
}
#configure[data-active="fields"] li[data-config="fields"],
#configure[data-active="list"] li[data-config="list"],
#configure[data-active="form"] li[data-config="form"],
#configure[data-active="access"] li[data-config="access"] {
  background: #55c5cb;
  color: #EFEFEF;
  border-right: 1px solid #55c5cb;
}
#configure[data-active="fields"] li[data-config="fields"]:hover,
#configure[data-active="list"] li[data-config="list"]:hover,
#configure[data-active="form"] li[data-config="form"]:hover,
#configure[data-active="access"] li[data-config="access"]:hover {
  color: #EFEFEF;
}
#configure[data-active="fields"] div[data-config="fields"],
#configure[data-active="list"] div[data-config="list"],
#configure[data-active="form"] div[data-config="form"],
#configure[data-active="access"] div[data-config="access"] {
  display: block;
}
#configure div[data-config="list"] ul,
#configure div[data-config="form"] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
#configure div[data-config="list"] ul li,
#configure div[data-config="form"] ul li {
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #DDD;
}
#configure div[data-config="list"] ul li.drag,
#configure div[data-config="form"] ul li.drag {
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#configure div[data-config="list"] ul li.over,
#configure div[data-config="form"] ul li.over {
  padding-bottom: 20px;
}
#configure div[data-config="list"] ul li:last-child,
#configure div[data-config="form"] ul li:last-child {
  border-bottom: none;
}
#configure div[data-config="list"] ul li label,
#configure div[data-config="form"] ul li label {
  display: inline;
}
#configure form {
  padding: 15px 30px;
}
@media all and (max-width: 800px) {
  #context {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 1;
  }
  #detail {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}
@media all and (min-width: 1280px) {
  #context {
    width: 60%;
  }
  #context #switcher {
    float: left;
    width: 30%;
    position: relative;
    box-sizing: border-box;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-right: 1px solid #CCC;
  }
  #context #list {
    float: left;
    width: 70%;
    position: relative;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    box-sizing: border-box;
  }
  #context #list h2 {
    background: #EEE;
    color: #555;
    border-bottom: 1px solid #CCC;
    cursor: text;
  }
  #context #list h2.icon-arrow:before {
    content: '';
    margin-right: 0;
  }
  #context div[data-visible="list"] #list {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
  #context div[data-visible="list"] #switcher {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
  #context #new-item {
    color: #222;
  }
  #context #configure-item {
    color: #222;
  }
  #detail {
    width: 40%;
  }
  #configure {
    width: 40%;
  }
}
